body{
    color: red;
    background-color: aqua;
    font-family: 'Noto Sans', sans-serif;
}
.header-title{
    background: orange;
    color: brown;
}
.header-title p{
    font-family: Arial, Helvetica, sans-serif;
    color: pink;
    letter-spacing: 1.5px;
    font-size: medium;
    font-weight: 100;
}
.name-div button{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    width: 70px;
    font-weight: 100;
    letter-spacing: 1.5px;
}
.footer_1{
    position: fixed;
    color: blue;
    bottom: 0;
    width: 100%;
    font-size: medium;
    background-color: bisque;
    line-height: 5;
    text-align: center;
    text-shadow: 5px 5px 5px, cyan;    
}